
# Spacefile Docs: https://go.deta.dev/docs/spacefile/v0
v: 0
micros:
  - name: boat-race-note
    src: ./
    engine: nodejs16
    include:
      - app
      - dist
    run: node dist/main.js
    commands: 
      - npm run build
    dev: npm run start:dev
    primary: true
    public: true
    presets:
      env:
        - name: JWT_SECRET
          description: "暗号化キー"
          # 暗号化キーを下に設定する。
          default: ""
